.custom-table {
  display: block;
}

.custom-table .table {
  border-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
}

/* scrollbar */
.custom-table .table::-webkit-scrollbar {
  height: 6px;
}

/* Track */
.custom-table .table::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.custom-table .table::-webkit-scrollbar-thumb {
  background: #dcdedf;
}

/* Handle on hover */
.custom-table .table::-webkit-scrollbar-thumb:hover {
  background: #dcdedf;
}

.custom-table .table .tr :last-child .td {
  border-bottom: 0;
}
.custom-table .table .th {
  margin: 0;
  position: relative;
}
.custom-table .table .th :last-child,
.custom-table .table .td :last-child {
  border-right: 0;
}
.custom-table .table .th .resizer,
.custom-table .table .td .resizer {
  right: 0;
  background: #fff;
  width: 0.5px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  touch-action: none;
}
.custom-table .table .th .resizer.isResizing,
.custom-table .table .td .resizer.isResizing {
  background: #968e75;
}

.table .th {
  background: #dcdedf;
  padding: 14px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #435055;
}

.table .td {
  background: #fff;
  padding: 14px 20px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #435055;
}
.table .tbody .tr:hover .td {
  background: #f2f2f2;
}

.td.highlight {
  background: #f2f2f2;
}

.sort-icon {
  position: absolute;
  right: 35px;
  top: 16px;
}

.table-sub-container {
  background: #f1f1f5;
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
}

.inner-td {
  padding: 0 !important;
}

.empty-table {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-text {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

/* pagination-styles  */

.pagination-custom {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.pagination-btn {
  background: #ff5c00;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  color: #fff;
  margin-left: 5px;
  transition: 0.3s all ease-in-out;
}

.pagination-btn:hover {
  background: #c74b06;
  transition: 0.3s all ease-in-out;
}

.pagination-btn:disabled {
  opacity: 0.4;
  cursor: initial;
}

.page-count-info {
  margin: 0 10px;
}

.page-count {
  font-weight: 400;
  font-size: 14px;
  color: #a3a3a3;
  margin-left: 5px;
}

.table-input input {
  padding: 5.5px 5px 5.5px 9px;
  width: 50px !important;
}

.table-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.pagination-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-label {
  margin-right: 5px;
  color: #435055;
}

.table-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-select .MuiSelect-select {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.empty-table-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-table .MuiChip-filled {
  height: auto;
}

.table-actions-controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.table-actions-controls > div {
  margin-left: 15px;
}

.table-fixed .th:first-child {
  position: fixed !important;
  z-index: 2;
}

.table-fixed .th:nth-child(2) {
  margin-left: 70px;
}

.table-fixed .td:first-child {
  position: fixed;
}

.table-fixed .td:nth-child(2) {
  margin-left: 70px;
}
