/* Loader 1 */

.toaster-container {
  position: fixed;
  top: 110px;
  right: 20px;
}

.toaster-container .MuiPaper-root {
  padding: 2px 10px !important;
  align-items: center;
}

.toaster-container .MuiPaper-root.success {
  border: 1px solid #238f62 !important;
  background-color: #ebf7ee !important;
}

.toaster-container .MuiPaper-root.info {
  border: 1px solid #006ce5 !important;
  background-color: #e5effa !important;
}

.toaster-container .MuiPaper-root.warning {
  border: 1px solid #ef9400 !important;
  background-color: #fef7ea !important;
}

.toaster-container .MuiPaper-root.error {
  border: 1px solid #ec4e2c !important;
  background-color: #fcedea !important;
}

.toaster-container .MuiAlert-message {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #435055 !important;
  padding: 0 20px 0 5px;
}

.toaster-container .MuiAlert-icon {
  padding: 6px 0 !important;
}

.toaster-container .MuiAlert-action {
  padding: 2px 4px 0 16px !important;
}

.toast-icon {
  border-radius: 6px;
  padding: 5px;
}

.toast-icon.success {
  background: #238f62;
}

.toast-icon.info {
  background: #006ce5;
}

.toast-icon.warning {
  background: #ef9400;
}

.toast-icon.error {
  background: #ec4e2c;
}
