.custom-accord-container {
  margin: 0;
}

.accord-highlighted .MuiPaper-root {
  padding: 10px 20px 10px 0 !important;
  border-bottom: 1px solid rgba(236, 236, 236, 0.8);
}

.MuiPaper-root.green {
  border: 1px solid #7dc39b;
  background: rgba(125, 195, 155, 0.2);
}

.MuiPaper-root.purple {
  border: 1px solid #ac7dc3;
  background: rgba(172, 125, 195, 0.2);
}

.MuiPaper-root.yellow {
  border: 1px solid #e1d45d;
  background: rgba(225, 212, 93, 0.2);
}

.MuiPaper-root.green::before {
  background: #7dc39b;
}

.MuiPaper-root.purple::before {
  background: #ac7dc3;
}

.MuiPaper-root.yellow::before {
  background: #e1d45d;
}

.accord-highlighted .accord-title,
.accord-highlighted .Mui-expanded .accord-title {
  margin-left: 30px;
}

.accord-highlighted .MuiPaper-root.Mui-expanded {
  background: transparent;
}

.accord-highlighted .accord-content {
  padding: 20px 2px 0 2px;
  padding-left: 30px;
  background: transparent;
  padding-bottom: 20px;
}

.h-accord-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #435055;
}
