.footer-container {
  background: #f6f6f6;
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  right: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #676767;
}
