.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.title-icon {
  margin-right: 10px;
}

.section-title-text {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #082947;
}
